html, body {
  margin: 0;
  background-color: black;
}

#heading {
  color: grey;
}

.buttons {
  background-color: grey;
  color: black;
  font-size: 15px;
  margin: 5px;
  border: red;
}

input[type=submit]:focus {
  background-color: yellow;
  outline: none;
}

.commit {
  width: 11.5%;
  margin: 0.5%;
  padding: 10px;
  margin-bottom: 5px;
  height: 210px;
  border: solid 1px white;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: Palatino Linotype;
  transition: all .2s ease-in-out;
  background-color: black;
  opacity: 0.6;
  vertical-align: top;
  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}

.author {
  font-size: 15px;
}

.coauthor {
  font-size: 12px;
  color: #8a94a3;
}

.date {
  font-size: 12px;
  color: red
}
.time {
  font-size: 12px;
  color: red;
}

.message {
  margin-bottom: 5px;
  color: yellow;
  opacity: 1;
  height: 108px;
  overflow: hidden;
}
